.DS_Store
# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.env
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# macOS
.DS_Store

# Databases
*.sqlite3
*.db
